body {
  background: #fff5fa;
}

/* TITLE */
.title {
  color: #ff2f92;
  font-size: 2.5rem;
}

/* PINK BUTTON */
.btn-pink {
  background: #ff4fa3;
  color: white;
  font-weight: bold;
}

.btn-pink:hover {
  background: #ff2f92;
}

/* CARDS */
.card {
  border: none;
  border-radius: 16px;
}

/* PROGRESS */
.bg-pink {
  background: linear-gradient(135deg,#ff4fa3,#ff8ccf) !important;
}

/* CHART FIX */
canvas {
  margin-top: 15px;
  width: 100% !important;
  max-height: 250px;
}

/* MOBILE FIX */
@media (max-width: 768px) {

  .title {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

}
